/* *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
html{
    scroll-behavior: smooth;
}


.container{
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 10vh 80vh 10vh;
    background-image:url(../assets/background\ 2.jpg );
    background-repeat: no-repeat;
    background-size: cover;
   margin-bottom: 3%;
}

header{
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    margin-top:30px;
    border-bottom: solid;
    color: aliceblue;
    
}
.nav a{
    margin: 30px;
    font-size: 130%;
    text-decoration: none;
    color: grey;
}
a:hover{
    color: white;
}



.main-image{
    width: 30vw;
    height: 50vh;
    border-radius: 50%;
    grid-row: 2/3;
    margin: 100px;
    margin-top: 150px;
}

.home-main{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
 .home-top{
    margin-bottom: 50px;
    font-size: 70px;
 }
 .home-mid{
    font-size: 70px;
 }
 .home-bottom{
    font-size: 30px;
 }

.about-content{
    grid-row: 2/3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-top{
    font-size: 60px;
    margin-right:22vw;
    margin-bottom: 20px;
}
.about-mid{
    font-size: 40px;
    margin-left: 100px;
}

.skills-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 40px;
    line-height: 8vh;
    
}
 .skills-top{
    margin-right: 100px;
}
.skills-mid{
    margin-right: 145px;
}
.skills-mid-bottom{
    margin-left:60px
}
.skills-bottom{
   margin-left:90px
} 
.png-image{
    width: 30vw;
    height: 50vh;
    grid-row: 2/3;
    margin: 100px;
    margin-top: 150px;
}


.contact-content{
     display: flex;
     justify-content: center; 
      margin-left: 10rem;
    flex-direction: column;
    color: white;
    font-size: 2.5em;
    line-height: 8vh;
}
.contact-content div{
    text-align: left;
}
.number{
    margin-left: 1.2rem;
}
.email{
    margin-left: 6rem;
}
.address{
    margin-left: 3.7rem;
}
.add2{
    margin-left: 13.7rem;
}
.add3{
    margin-left:13.5rem;
}

 .footer-content{
    grid-row:3/4;
    grid-column: 1/4;
 }
 .insta{
    border-radius: 50%;
    height: 8vh;
}
.facebook{
    border-radius: 50%;
    height: 8vh;
}
.twitter{
    border-radius: 50%;
    height: 8vh;
}
.footer-content a{
    margin: 0.5rem;
} */

*{
    overflow-x: hidden;
}

/* @media screen and(max-width:800px) {
    nav ul{
        position: sticky;
        height: 10px;
    }
    body{
        overflow-x: hidden;
    }
    
} */


.h1,.h5{
    overflow-y: hidden;
}

.email-hover:hover{
    background-color: grey;
    border-radius: 10px 1px 10px 1px;
   
}
.container-fluid{
    background-image: url(../assets/background\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
body{
    overflow-x: hidden;
}
.parent{
    position:relative;
}
.topics{
    color:#8f8f8f;
    text-decoration: underline;
}
.main{
    height: 400px;
    width: 400px;
}
nav a:hover{
    background-color: grey;
    border-radius: 5px;
}
.footer{
    height: 70px;
    width: 70px;
    
}
.progress{
    height: 40px;
    width: 40vw;
    border-radius: 50px;
    border: 2px solid white;
}
.progress-bar{
    border-radius: 1px 50px 50px 1px;
    background-color:#3a3a3a;
    color: black;
    font-weight: bolder;
    
}
.skill-top:hover{
    background-color: grey;
    border-radius: 10px;
}
/* h1{
    font-size: 75px !important;
}
.h5{
    font-size: 25px !important;
} */
/* .h1{
    position: relative;
    top: 200px;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
}
.h5{
    position: relative;
    top: 200px;
    text-align: center; */
    
/* } */
