*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
}
.container{
    height: 100%;
    width: 90%;
    margin-left: 80px;
background-color: #282727 ;

}
.sky{
    width: 95%;
    margin: 35px;
    height: 700px;
}
.heart{
    height: 900px;
    width: auto;
    max-width: 550px;
    margin: 50px;
}
.obito{
    height: 900px;
    width: auto;
    max-width: 550px;
    margin: 50px;
}
.jiraiya{
    height: 900px;
    width: auto;
    max-width: 550px;
    margin: 50px;
}
.kakashi{
    height: 900px;
    width: auto;
    max-width: 550px;
    margin: 50px;
}
.angel{
    height: 900px;
    width: auto;
    max-width: 550px;
    margin: 50px;
}
.minato{
    height: 900px;
    width: auto;
    max-width: 550px;
    margin: 50px;
}
.kira{
    height: 900px;
    width: auto;
    max-width: 550px;
    margin: 50px;
    margin-left: 28%;
}


 
